<a href="https://colab.research.google.com/github/LindaRequenes/Mineria_de_datos/blob/main/Avance1_PIA_Equipo4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Avance PIA

* Equipo #4
* Grupo: 02, Frecuencia de clase: Miércoles
* Integrantes:
  * 1857602 Díaz Vázquez Jisbeth Jaquelin.
  * 1842201 Ramiro Mayorga Julio César.
  * 1854552 Requenes Villarreal Linda Karina.
  * 1941443 Martínez Valdez Norma Isabel.

* Título de la base de datos: Breast Cancer Wisconsin
  * Nombre con que se encuentra en la página encontrada: Breast Cancer Wisconsin (Diagnostic) Data Set
  * URL de página: https://www.kaggle.com/uciml/breast-cancer-wisconsin-data

# Introducción General
El cáncer de mama es una enfermedad en la cual las células de la mama se multiplican sin control. Existen distintos tipos de cáncer de mama y estos dependen de qué células de la mama se vuelven cancerosas.

Las células cancerosas del seno normalmente forman un tumor que a menudo se puede observar en una radiografía o se puede palpar como una masa o bulto. El cáncer de seno ocurre casi exclusivamente en las mujeres, pero los hombres también lo pueden padecer.

La mayoría de los bultos en los senos son benignos y no cancerosos (malignos). Los tumores no cancerosos de los senos (benignos) son crecimientos anormales, pero no se propagan fuera de los senos. Estos tumores no representan un peligro para la vida, aunque algunos tipos de bultos benignos pueden aumentar el riesgo de una mujer de padecer cáncer de seno. 

Algunos estudios han demostrado que el riesgo de tener cáncer de mama se debe a una combinación de factores, sin embargo los principales influyen en el riesgo de que una persona sea mujer y mayor a 50 años, dado a que la mayoría de los cánceres de mama se detectan en mujeres de ese rango de edad.

Tener un factor de riesgo no significa que la persona tendrá la enfermedad, y no todos los factores de riesgo tienen el mismo efecto. La mayoría de las mujeres tienen algunos factores de riesgo, pero la mayoría de las mujeres no tienen cáncer de mama.

Con ayuda de la base de datos podríamos separar a los pacientes con ayuda de las siguientes categorías: personas que no padecen anomalías de alto riesgo, individuos que  podrían padecer la enfermedd y además una probabilidad alta de sobrevivir en base a únicamente tratamiento (medicamento y/o quimioterapia), otros que puedan sobrevivir realizando una tumorectomía (cirugía que extrae el cáncer mientras se conserva tanto del seno) o una mastectomía (cirugía que extirpa el seno por completo), y por último los que tengan una alta posibilidad de que detectar una metástasis (proceso de propagación de un foco cancerígeno).

# Descripción de datos
* **Tipo de Datos**

  Los datos se muestran en una tabla de dimensiones 33x569, donde el 33 representa la cantidad e columnas y el 569 las filas que abarca la tabla.


* **Descripción de las columnas**

  * Información de atributos:
    * ID: Núero de identficación
    * Diagnóstico (M = maligno, B = benigno)
  *Características de valor real para cada núcleo celular:
    * Radius (media de las distancias desde el centro a los puntos del perímetro)
    * Texture (desviación estándar de los valores de la escala de grises)
    * Perimeter
    * Area
    * Smoothness (variación local en longitudes de radio)
    * Compactness (perímetro ^ 2 / área - 1.0)
    * Concavity (severidad de las porciones cóncavas del contorno)
    * Concave points (número de porciones cóncavas del contorno)
    * Symmetry
    * Fractal dimension ("aproximación de la línea de costa" - 1)

  La media, el error estándar y el "peor" o el más grande (la media de los tres valores más grandes) de estas características se calcularon para cada imagen, lo que dio como resultado 30 características. Por ejemplo, el campo 3 es Radio medio, el campo 13 es Radio SE, el campo 23 es Peor radio. Todos los valores de las características se recodifican con cuatro dígitos significativos. Valores de atributos faltantes: ninguno Distribución de clases: 357 benigno, 212 maligno.

# Justificación del uso de datos

 * **Características de interés**

  El proyecto que se presenta pretende exponer de forma ordenada, metodológica y práctica los factores de riesgo del cáncer de mama y el análisis de los datos permitirá identificar las características que puedan implicar un buen o mal pronóstico del paciente.

  Por lo que nuestro análisis estará basado en el área, concavidad, compacidad, perímetro, radio y simetría del tumor, ya sea canceroso o benigno.

* **Beneficio al trabajar con esos datos**

  En base a estimaciones, podríamos determinar los rangos de cada una de esas variables para definir dentro de que estatus se encuentra el paciente y asi tener claridad en el grado y tipo de atención que requiere.

  Pretendemos entonces, ayudar a alertar acerca de estos peligros y como generar una reflexión simple que ayude a fomentar la importancia de la enfermedad, así como el cuidado anterior y posterior en el tratamiento de la misma.

# Objetivo final

Organizar a los pacientes por grado de atención, basándonos en su respectiva categoría, y con ello determinar el tipo de procedimiento que requiere.

# Preguntas de interés

*  ¿Cómo se clasifican los grados de un tumor?
*  ¿Cuáles etapas del tumor podríamos definir en base al sistema TNM?
*  ¿Qué factores pueden afectar las etapas de un tumor?
*  ¿Cómo podríamos determinar una estadificación clínica?

# Programación

In [ ]:
import pandas as pd
import numpy as np
import json
df = pd.read_csv("Breast Cancer Wisconsin.csv")

Las dimensiones de nuestra Base de datos 33 columnas y 569 filas

In [ ]:
df.shape

(569, 33)

Las primeras y ultimas 5 Filas de datos de nuestra base de datos

In [ ]:
df.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [ ]:
df.tail()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
564  926424         M  ...                  0.07115          NaN
565  926682         M  ...                  0.06637          NaN
566  926954         M  ...                  0.07820          NaN
567  927241         M  ...                  0.12400          NaN
568   92751         B  ...                  0.07039          NaN

[5 rows x 33 columns]

Los nombres de las columnas y sus tipos de datos

In [ ]:
df.columns

Index(['id', 'diagnosis', 'radius_mean', 'texture_mean', 'perimeter_mean',
       'area_mean', 'smoothness_mean', 'compactness_mean', 'concavity_mean',
       'concave points_mean', 'symmetry_mean', 'fractal_dimension_mean',
       'radius_se', 'texture_se', 'perimeter_se', 'area_se', 'smoothness_se',
       'compactness_se', 'concavity_se', 'concave points_se', 'symmetry_se',
       'fractal_dimension_se', 'radius_worst', 'texture_worst',
       'perimeter_worst', 'area_worst', 'smoothness_worst',
       'compactness_worst', 'concavity_worst', 'concave points_worst',
       'symmetry_worst', 'fractal_dimension_worst', 'Unnamed: 32'],
      dtype='object')

In [ ]:
df.dtypes

id                           int64
diagnosis                   object
radius_mean                float64
texture_mean               float64
perimeter_mean             float64
area_mean                  float64
smoothness_mean            float64
compactness_mean           float64
concavity_mean             float64
concave points_mean        float64
symmetry_mean              float64
fractal_dimension_mean     float64
radius_se                  float64
texture_se                 float64
perimeter_se               float64
area_se                    float64
smoothness_se              float64
compactness_se             float64
concavity_se               float64
concave points_se          float64
symmetry_se                float64
fractal_dimension_se       float64
radius_worst               float64
texture_worst              float64
perimeter_worst            float64
area_worst                 float64
smoothness_worst           float64
compactness_worst          float64
concavity_worst            float64
concave points_worst       float64
symmetry_worst             float64
fractal_dimension_worst    float64
Unnamed: 32                float64
dtype: object

Clasificando los datos por las categorias de la columna Diagnosis

In [ ]:
df.diagnosis.unique()

array(['M', 'B'], dtype=object)

In [ ]:
M = df[df['diagnosis']=='M']

M.to_csv('Solo_M.csv', index=False)

In [ ]:
B = df[df['diagnosis']=='B']
B.to_csv('Solo_B.csv', index=False)

Filtrando datos de la columna radius_mean por las clases de la columna diagnosis

In [ ]:
M_vs_radiusmean = df.loc[df.diagnosis == 'M'].radius_mean
B_vs_radiusmean = df.loc[df.diagnosis == 'B'].radius_mean

In [ ]:
B_vs_radiusmean.to_csv('Solo_B_vs_radiusmean.csv', index=False)
M_vs_radiusmean.to_csv('Solo_M_vs_radiusmean.csv', index=False)

Eliminando la columna llamada Unnamed:32

In [ ]:
df.drop('Unnamed: 32',axis = 1 )

           id diagnosis  ...  symmetry_worst  fractal_dimension_worst
0      842302         M  ...          0.4601                  0.11890
1      842517         M  ...          0.2750                  0.08902
2    84300903         M  ...          0.3613                  0.08758
3    84348301         M  ...          0.6638                  0.17300
4    84358402         M  ...          0.2364                  0.07678
..        ...       ...  ...             ...                      ...
564    926424         M  ...          0.2060                  0.07115
565    926682         M  ...          0.2572                  0.06637
566    926954         M  ...          0.2218                  0.07820
567    927241         M  ...          0.4087                  0.12400
568     92751         B  ...          0.2871                  0.07039

[569 rows x 32 columns]

In [ ]:
df.isnull()

        id  diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    False      False  ...                    False         True
1    False      False  ...                    False         True
2    False      False  ...                    False         True
3    False      False  ...                    False         True
4    False      False  ...                    False         True
..     ...        ...  ...                      ...          ...
564  False      False  ...                    False         True
565  False      False  ...                    False         True
566  False      False  ...                    False         True
567  False      False  ...                    False         True
568  False      False  ...                    False         True

[569 rows x 33 columns]