<a href="https://colab.research.google.com/github/LindaRequenes/Mineria_de_datos/blob/main/Avance1_PIA_Equipo4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Avance PIA

* Equipo #4
* Grupo: 02, Frecuencia de clase: Miércoles
* Integrantes:
  * 1857602 Díaz Vázquez Jisbeth Jaquelin.
  * 1842201 Ramiro Mayorga Julio César.
  * 1854552 Requenes Villarreal Linda Karina.
  * 1941443 Martínez Valdez Norma Isabel.

* Título de la base de datos: Severely Injured Workers
  * Nombre con que se encuentra en la página encontrada: Severely Injured Workers
  * URL de página: https://www.kaggle.com/jboysen/injured-workers

# Introducción General

  Tener empleo aporta muchos beneficios importantes, incluyendo proporcionar una fuente de ingresos, la mejora de la inclusión social, satisfacer las aspiraciones personales, fortalecer la autoestima y desarrollar capacidades y competencias. En Estados Unidos, alrededor del 70% de la población en edad laboral (entre 15 y 64 años) tiene un empleo remunerado. Esta cifra es mayor que el promedio de empleo de la OCDE de 68%.

  Sin embargo, cada uno de los trabajos esta conformado por factores de riesgo, los cuales son realizados a través de una determinación de la prima de riesgos de trabajo que se deriva de la revisión anual de la siniestralidad relacionando los casos de riesgos laborales terminados entre el 1 de enero y el 31 de diciembre de cada año.

  Las tareas de alto riesgo son todas las actividades que por su naturaleza o lugar donde se realiza, implica la exposición o intensidad mayor a las normalmente presentes en la actividad rutinaria las cuales pueden causar accidentes laborales severos y, en muchas ocasiones, mortales.

  En esta base de datos la Administración de Seguridad y Salud Ocupacional, también conocida como OSHA, exige a los empleadores que informen de todas las lesiones graves relacionadas con el trabajo, definidas como amputación, hospitalización o pérdida de un ojo siendo que el requisito comenzó el 1 de enero de 2015 y se registraron datos hasta el 28 de febrero de 2017.

  Dado lo anterior, podemos conocer generalmente cuál es el comportamiento de nuestra información con la finalidad de realizar estrategias para la reduccion de accidentes laborales severos y la implementación de mayor cuidado y prevención sobre la salud de los trabajadores.

# Descripción de datos

* *Tipo de Datos*

  Los datos se muestran en una tabla de dimensiones 26 x 21578, donde el 26 representa la cantidad e columnas y el 21578 las filas que abarca la tabla.


* *Descripción de las columnas*

  * Address: Dirección (texto largo)
  * City: Ciudad (cadena)
  * State: Estado (cadena)
  * Latitude: Latitud (float)
  * Longitude: Longitud (float)
  * Primary NAICS: Línea de negocio principal de una empresa (entero)
  * Hospitalized: Hospitalizado (entero)
  * Amputation: Amputación (entero)
  * Inspection: Inspección (entero)
  * Final Narrative: Narración final (texto largo)
  * Nature: Naturaleza (cadena)
  * Part of Body: Parte del cuerpo (cadena)
  * Event: Evento (cadena)
  * Source: Procedencia (cadena)
  * Secondary Source: Segunda procedencia (cadena)

# Justificación del uso de datos

  Los accidentes de trabajo pueden ocurrir en cualquier momento, saber qué hacer y cómo actuar es fundamental para asegurar una oportuna atención al lesionado. Por esta razón, una aseguradora consideró importante tener un buen historial para poder informarse y realizar un análisis acerca del número de frecuencias de cada tipo de emergencia relacionada con su puesto, así como también su respectiva siniestralidad. Con ello, es posible calcular pólizas de seguros contra accidentes laborales para los trabajadores de empresas establecidas.

# Objetivo final

Identificar el índice de siniestralidad anual de cada uno de los puestos laborales considerando sus respectivas obligaciones.

# Preguntas de interés

   

*   ¿Qué industrias tienen la mayor tasa de lesiones de los trabajadores y de qué gravedad son?
*   ¿Puede predecir las lesiones para 2016 basándose en los datos de 2015?
*  ¿En qué regiones son más frecuentes las lesiones?

# Programación

In [ ]:
import pandas as pd
import numpy as np
import json
df = pd.read_csv('severeinjury.csv', encoding= 'unicode_escape') #https://stackoverflow.com/questions/22216076/unicodedecodeerror-utf8-codec-cant-decode-byte-0xa5-in-position-0-invalid-s

Las dimensiones de nuestra Base de datos 26 columnas y 21578 filas

In [ ]:
df.shape

(21578, 26)

Las primeras y ultimas 5 Filas de datos de nuestra base de datos

In [ ]:
df.head()

           ID  ...                             Secondary Source Title
0  2015010015  ...                      Inmate or detainee in custody
1  2015010016  ...                                                NaN
2  2015010018  ...                                      Ladders-fixed
3  2015010019  ...  Truck-motorized freight hauling and utility, u...
4  2015010020  ...                                                NaN

[5 rows x 26 columns]

In [ ]:
df.tail()

               ID      UPA  ... Secondary Source Secondary Source Title
21573  2017021908  1187496  ...              NaN                    NaN
21574  2017021909  1187261  ...              NaN                    NaN
21575  2017021910  1187351  ...              NaN                    NaN
21576  2017021911  1187282  ...              NaN                    NaN
21577  2017021912  1187132  ...              NaN                    NaN

[5 rows x 26 columns]

Los nombres de las columnas y sus tipos de datos

In [ ]:
df.columns

Index(['ID', 'UPA', 'EventDate', 'Employer', 'Address1', 'Address2', 'City',
       'State', 'Zip', 'Latitude', 'Longitude', 'Primary NAICS',
       'Hospitalized', 'Amputation', 'Inspection', 'Final Narrative', 'Nature',
       'NatureTitle', 'Part of Body', 'Part of Body Title', 'Event',
       'EventTitle', 'Source', 'SourceTitle', 'Secondary Source',
       'Secondary Source Title'],
      dtype='object')

In [ ]:
df.dtypes

ID                          int64
UPA                         int64
EventDate                  object
Employer                   object
Address1                   object
Address2                   object
City                       object
State                      object
Zip                       float64
Latitude                  float64
Longitude                 float64
Primary NAICS              object
Hospitalized              float64
Amputation                float64
Inspection                float64
Final Narrative            object
Nature                      int64
NatureTitle                object
Part of Body                int64
Part of Body Title         object
Event                       int64
EventTitle                 object
Source                      int64
SourceTitle                object
Secondary Source          float64
Secondary Source Title     object
dtype: object

Cambiaremos el nombre a las columnas con espacios en ellas

In [ ]:
df.rename(columns = {'Primary NAICS':'Primary_NAICS'})

               ID  ...                             Secondary Source Title
0      2015010015  ...                      Inmate or detainee in custody
1      2015010016  ...                                                NaN
2      2015010018  ...                                      Ladders-fixed
3      2015010019  ...  Truck-motorized freight hauling and utility, u...
4      2015010020  ...                                                NaN
...           ...  ...                                                ...
21573  2017021908  ...                                                NaN
21574  2017021909  ...                                                NaN
21575  2017021910  ...                                                NaN
21576  2017021911  ...                                                NaN
21577  2017021912  ...                                                NaN

[21578 rows x 26 columns]

In [ ]:
df.rename(columns = {'Final Narrative':'Final_Narrative'})

               ID  ...                             Secondary Source Title
0      2015010015  ...                      Inmate or detainee in custody
1      2015010016  ...                                                NaN
2      2015010018  ...                                      Ladders-fixed
3      2015010019  ...  Truck-motorized freight hauling and utility, u...
4      2015010020  ...                                                NaN
...           ...  ...                                                ...
21573  2017021908  ...                                                NaN
21574  2017021909  ...                                                NaN
21575  2017021910  ...                                                NaN
21576  2017021911  ...                                                NaN
21577  2017021912  ...                                                NaN

[21578 rows x 26 columns]

In [ ]:
df.rename(columns = {'Part of Body':'Part_of_Body'})
df.rename(columns = {'Secondary Source':'Secondary_Source'})
df.rename(columns = {'Part of Body Title':'Part_of_Body_Title'})
df.rename(columns = {'Secondary Source Title':'Secondary_Source_Title'})

               ID  ...                             Secondary_Source_Title
0      2015010015  ...                      Inmate or detainee in custody
1      2015010016  ...                                                NaN
2      2015010018  ...                                      Ladders-fixed
3      2015010019  ...  Truck-motorized freight hauling and utility, u...
4      2015010020  ...                                                NaN
...           ...  ...                                                ...
21573  2017021908  ...                                                NaN
21574  2017021909  ...                                                NaN
21575  2017021910  ...                                                NaN
21576  2017021911  ...                                                NaN
21577  2017021912  ...                                                NaN

[21578 rows x 26 columns]

Clasificando los datos por las categorias de la columna State

In [ ]:
df.State.unique()

array(['NEW YORK', 'WISCONSIN', 'PENNSYLVANIA', 'GEORGIA', 'FLORIDA',
       'COLORADO', 'OKLAHOMA', 'TEXAS', 'LOUISIANA', 'MISSISSIPPI',
       'NEW JERSEY', 'OHIO', 'ILLINOIS', 'NEBRASKA', 'NEW HAMPSHIRE',
       'KANSAS', 'MASSACHUSETTS', 'ARKANSAS', 'MICHIGAN', 'IDAHO',
       'MISSOURI', 'MAINE', 'CONNECTICUT', 'WEST VIRGINIA',
       'NORTH DAKOTA', 'MONTANA', 'NORTH CAROLINA', 'DELAWARE',
       'CALIFORNIA', 'AMERICAN SAMOA', 'DISTRICT OF COLUMBIA', 'ALABAMA',
       'TENNESSEE', 'OREGON', 'SOUTH DAKOTA', 'RHODE ISLAND', 'INDIANA',
       'VIRGINIA', 'NEW MEXICO', 'MARYLAND', 'UTAH', 'VERMONT', 'ARIZONA',
       'GUAM', 'IOWA', 'KENTUCKY', 'MINNESOTA', 'WASHINGTON',
       'SOUTH CAROLINA', 'HAWAII', 'PUERTO RICO', 'VIRGIN ISLANDS',
       'NEVADA', 'WYOMING', 'NORTHERN MARIANA ISLANDS', 'ALASKA'],
      dtype=object)

In [ ]:
NY = df[df['State']=='NEW YORK']

NY.to_csv('Solo_NEW YORK.csv', index=False)
w = df[df['State']=='WASHINGTON']
w.to_csv('Solo_WASHINGTON.csv', index=False)

Filtrando datos de la columna Nature por Stade

In [ ]:
NY_f = df.loc[df.State == 'NEW YORK'].Nature
NY_f

0         111
47        111
49         10
53       1510
63       1311
         ...
21514     111
21521    1530
21522     111
21542    1311
21567    1311
Name: Nature, Length: 1069, dtype: int64

In [ ]:
W_f = df.loc[df.State == 'WASHINGTON'].Nature
W_f

1450     1831
2153      111
2797      111
3339     1311
3795     2731
4027      194
4149      134
6566      111
6944     1972
9009     1311
9037      111
9149      111
9241      111
10156     111
10197     111
11605     160
12149     111
12555    1311
12735     111
12868     111
13377     111
14777     193
15770    1972
15778     111
16522     111
16564     111
16800      10
16954     143
16979     143
17104    1311
17610     111
17721     111
18506     111
19191     111
19462    1973
19547     111
19708      10
20668     160
20981     111
Name: Nature, dtype: int64

Veremos los Datos Nulos y tomaremos acciones al respecto

In [ ]:
df.isnull()

          ID    UPA  ...  Secondary Source  Secondary Source Title
0      False  False  ...             False                   False
1      False  False  ...              True                    True
2      False  False  ...             False                   False
3      False  False  ...             False                   False
4      False  False  ...              True                    True
...      ...    ...  ...               ...                     ...
21573  False  False  ...              True                    True
21574  False  False  ...              True                    True
21575  False  False  ...              True                    True
21576  False  False  ...              True                    True
21577  False  False  ...              True                    True

[21578 rows x 26 columns]

In [ ]:

df.isnull().any()

ID                        False
UPA                       False
EventDate                 False
Employer                  False
Address1                   True
Address2                   True
City                       True
State                     False
Zip                        True
Latitude                   True
Longitude                  True
Primary NAICS              True
Hospitalized              False
Amputation                 True
Inspection                 True
Final Narrative           False
Nature                    False
NatureTitle               False
Part of Body              False
Part of Body Title        False
Event                     False
EventTitle                False
Source                    False
SourceTitle               False
Secondary Source           True
Secondary Source Title     True
dtype: bool

In [ ]:
df.isnull().sum()

ID                            0
UPA                           0
EventDate                     0
Employer                      0
Address1                     10
Address2                  19717
City                          9
State                         0
Zip                          11
Latitude                     91
Longitude                    91
Primary NAICS                 2
Hospitalized                  0
Amputation                    2
Inspection                13756
Final Narrative               0
Nature                        0
NatureTitle                   0
Part of Body                  0
Part of Body Title            0
Event                         0
EventTitle                    0
Source                        0
SourceTitle                   0
Secondary Source          15766
Secondary Source Title    15766
dtype: int64

Para limpiar los datos nulos hay que trabajarlos en un data frame diferente

In [ ]:
data_frame_0 = df.fillna(0)##Con esto llenamos todas las celdas con datos nulos con un 0
data_frame_0.to_csv('data_frame_0.csv', index=False)
data_frame_0

               ID  ...                             Secondary Source Title
0      2015010015  ...                      Inmate or detainee in custody
1      2015010016  ...                                                  0
2      2015010018  ...                                      Ladders-fixed
3      2015010019  ...  Truck-motorized freight hauling and utility, u...
4      2015010020  ...                                                  0
...           ...  ...                                                ...
21573  2017021908  ...                                                  0
21574  2017021909  ...                                                  0
21575  2017021910  ...                                                  0
21576  2017021911  ...                                                  0
21577  2017021912  ...                                                  0

[21578 rows x 26 columns]

In [ ]:
df_drop = df.dropna() # Y con esta instrucción borramos las filas que contienen datos nulos
df_drop.to_csv('df_drop.csv', index=False)

In [ ]:
df_drop_column = df.dropna(axis=1)#Para finalizar, con esta instrucción eliminamos las columnas con datos nulos
df_drop_column.to_csv('df_drop_column.csv', index=False)