<a href="https://colab.research.google.com/github/LindaRequenes/Mineria_de_datos/blob/main/Ej_Python_1854552.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **EJERCICIO 1**
Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [ ]:
mat=1854552
print('Linda Karina Requenes Villarreal', mat)

Linda Karina Requenes Villarreal 1854552

# **EJERCICIO 2**
Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [ ]:
num1=float(input('Ingrese un número: '))
num2=float(input('Ingrese otro número: '))
suma=num1+num2
resta=num1-num2
mult=num1*num2
div=num1/num2
exp=num1**num2
print('\n\tCALCULADORA:\nSuma: %.2f\nResta: %.2f\nMultiplicación: %.2f\nDivisión: %.2f\nExponente: %.2f'%(suma,resta,mult,div,exp))

Ingrese un número: 6
Ingrese otro número: 2

	CALCULADORA:
Suma: 8.00
Resta: 4.00
Multiplicación: 12.00
División: 3.00
Exponente: 36.00

# **EJERCICIO 3**

Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [ ]:
n=10 #Números totales
mult=3 #Múltiplo
lista=[]
for i in range(0,n*mult,mult):
  lista.append(i)
print('Lista de %d números múltiplos de %d:'%(n,mult),lista)

i=0
suma=0
while i<len(lista):
  suma+=lista[i]
  i+=1
print('\nSuma de todos los elementos: %d'%suma)

Lista de 10 números múltiplos de 3: [0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

Suma de todos los elementos: 135

# **EJERCICIO 4**

*   Con una función de if else, revisar si un número es par o es impar.

In [47]:
num=int(input('Ingrese un número: '))
if num%2==0:
  print('El número %d es par'%num)
else:
  print('El número %d es impar'%num)

Ingrese un número: 10
El número 10 es par

*   Con una función de if else, revisar si un número es primo o no.

In [46]:
num=int(input('Ingrese un número: '))
aux=0
for i in range(2,num):
  if num%i==0:
    print('El número %d no es primo'%num)
    aux+=1
    break
if aux==0:
  print('El número %d es primo'%num)

Ingrese un número: 7
El número 7 es primo

# **EJERCICIO 5**
Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [43]:
num1=float(input('Ingrese un número: '))
num2=float(input('Ingrese otro número: '))

def Suma(n1,n2):
  sum=n1+n2
  return sum

def Resta(n1,n2):
  rest=n1-n2
  return resta

def Multiplicacion(n1,n2):
  mult=n1*n2
  return mult

def Division(n1,n2):
  div=n1/n2
  return div

def Exponente(n1,n2):
  exp=n1**n2
  return exp

s=Suma(num1,num2)
r=Resta(num1,num2)
m=Multiplicacion(num1,num2)
d=Division(num1,num2)
e=Exponente(num1,num2)
print('\n\tCALCULADORA:\nSuma: %.2f\nResta: %.2f\nMultiplicación: %.2f\nDivisión: %.2f\nExponente: %.2f'%(s,r,m,d,e))

Ingrese un número: 8
Ingrese otro número: 4

	CALCULADORA:
Suma: 12.00
Resta: 4.00
Multiplicación: 32.00
División: 2.00
Exponente: 4096.00

# **EJERCICIOS CON ESTRUCTURAS BÁSICAS DE PYTHON**

## ***Tuplas***

*   Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [94]:
f=3.1416
i=2021
b=True
c=7+3j

print('VARIABLES:')
print('f=',f,'\tTipo: ',type(f))
print('i=',i,'\tTipo: ',type(i))
print('b=',b,'\tTipo: ',type(b))
print('c=',c,'\tTipo: ',type(c))

VARIABLES:
f= 3.1416 	Tipo:  <class 'float'>
i= 2021 	Tipo:  <class 'int'>
b= True 	Tipo:  <class 'bool'>
c= (7+3j) 	Tipo:  <class 'complex'>

*   Crear una tupla con valores enteros imprimir el primer y ultimo valor.
*   Añadir 3 valores de string a la tupla.
*   Verificar si una variable existe dentro de la tupla.

In [132]:
### Crear tupla
tupla=(1,2,3,4,5)
print('TUPLA:\n',tupla)
print('Primer número de la tupla=',tupla[0])
print('Último número de la tupla=',tupla[len(tupla)-1])

### Agregando strings
print('\nAGREGANDO STRINGS:')
tupla2=list(tupla)
for i in range(3):
  x=input('Agregue el string %d a la tupla: '%(i+1))
  tupla2.append(x)
tupla=tuple(tupla2)
print('\tNueva Tupla: ',tupla)

### Verificar existencia de una variable
print('\nEXISTENCIA DE UNA VARIABLE:')
tupla2=[]
aux=0
for i in range(len(tupla)):
  tupla2.append(str(list(tupla)[i]))
var=str(input('¿Qué variable deseas identificar en la tupla? --> '))
for j in range(len(tupla2)):
  if var==tupla2[j]:
    aux=1
    break
if aux==1:
  p=tupla2.index(var)
  print('%s existe dentro de la tupla en la posición %d'%(var,p))
else:
  print('%s no existe dentro de la tupla'%var)

TUPLA:
 (1, 2, 3, 4, 5)
Primer número de la tupla= 1
Último número de la tupla= 5

AGREGANDO STRINGS:
Agregue el string 1 a la tupla: Hola
Agregue el string 2 a la tupla: soy
Agregue el string 3 a la tupla: Linda
	Nueva Tupla:  (1, 2, 3, 4, 5, 'Hola', 'soy', 'Linda')

EXISTENCIA DE UNA VARIABLE:
¿Qué variable deseas identificar en la tupla? --> 4
4 existe dentro de la tupla en la posición 3

## ***Listas***

*   Crear una lista con 40 elementos aleatorios enteros.
*   Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.
*   Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.
*   Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.
*   Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [172]:
import random

### Crear lista
lista=[]
for i in range(40):
  x=random.randint(0,100)
  lista.append(x)
print('Números aleatorios enteros:\n',lista)

### Crear dos listas nuevas
def NuevaLista(lista):
  pares=[]
  impares=[]
  for i in range(len(lista)):
    if lista[i]%2==0:
      pares.append(lista[i])
    else:
      impares.append(lista[i])
  return[pares,impares]
pares=NuevaLista(lista)[0]
impares=NuevaLista(lista)[1]
print('\nPares: ',pares)
print('Impares: ',impares)

### Longitud de listas
nPar=len(pares)
nImpar=len(impares)
print('\nLONGITUD:\nPares -> %d elementos'%nPar)
print('Impares -> %d elementos'%nImpar)

### Ordenar
print('\nLISTAS ORDENADAS:')
pares.sort(reverse=True)
print('Pares (mayor a menor) =',pares)
impares.sort()
print('Impares (menor a mayor) =',impares)

### Funciones
print('\nFUNCIONES: \nNúmero máximo= ',max(lista))
print('Número mínimo= ',min(lista))
print('Suma= ',sum(lista))
print('Promedio: ',sum(lista)/len(lista))

Números aleatorios enteros:
 [44, 89, 41, 82, 12, 22, 40, 47, 77, 11, 1, 61, 46, 100, 66, 46, 21, 72, 37, 0, 78, 65, 5, 81, 89, 55, 83, 98, 88, 10, 76, 38, 50, 38, 7, 86, 9, 51, 31, 51]

Pares:  [44, 82, 12, 22, 40, 46, 100, 66, 46, 72, 0, 78, 98, 88, 10, 76, 38, 50, 38, 86]
Impares:  [89, 41, 47, 77, 11, 1, 61, 21, 37, 65, 5, 81, 89, 55, 83, 7, 9, 51, 31, 51]

LONGITUD:
Pares -> 20 elementos
Impares -> 20 elementos

LISTAS ORDENADAS:
Pares (mayor a menor) = [100, 98, 88, 86, 82, 78, 76, 72, 66, 50, 46, 46, 44, 40, 38, 38, 22, 12, 10, 0]
Impares (menor a mayor) = [1, 5, 7, 9, 11, 21, 31, 37, 41, 47, 51, 51, 55, 61, 65, 77, 81, 83, 89, 89]

FUNCIONES:
Número máximo=  100
Número mínimo=  0
Suma=  2004
Promedio:  50.1

## ***Diccionarios***
*   Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.
*   Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.
*   Usando el diccionario y un loop, imprimir solo los nombres.
*   Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [174]:
### Creación del diccionario
people={'Leticia':49,'Joselyn':10,'Juan':58,'Fausto':80,'Karina':20,'Sanjuana':74}
print('Diccionario: ',people)

### Lista de Edad
edad=[]
edad.append(people['Leticia'])
edad.append(people['Joselyn'])
edad.append(people['Juan'])
edad.append(people['Fausto'])
edad.append(people['Karina'])
edad.append(people['Sanjuana'])
edad.sort()
print('\nLista ordenada de edad: ',edad)

### Imprimir nombres


### Añadir dos personas

Diccionario:  {'Leticia': 49, 'Joselyn': 10, 'Juan': 58, 'Fausto': 80, 'Karina': 20, 'Sanjuana': 74}

Lista ordenada de edad:  [10, 20, 49, 58, 74, 80]

## ***Sets***
*   Crea un set con 100 numeros aleatorios enteros del 1 al 25.
*   Comprueba la longitud de tu set.
*   Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [159]:
import random

### Crear set
lista=[]
for i in range(100):
  x=random.randint(1,25)
  lista.append(x)
sets=set(lista)
print('Números aleatorios enteros:\n',sets)

### Longitud
print('\nLongitud del set =',len(sets))

### Crear lista
print('\nVerificación de valores:')
lista=[]
aux=0
listaSet=list(sets)
for i in range(5):
  x=random.randint(1,10)
  lista.append(x)
for i in range(5):
  for j in range(len(sets)):
    if lista[i]==listaSet[j]:
      aux+=1
      print('El valor %d aparece en el set inicial'%lista[i])
      break
  if i+1<aux:
    print('El valor %d no aparece en el set inicial'%lista[i])

Números aleatorios enteros:
 {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

Longitud del set = 25

Verificación de valores:
El valor 1 aparece en el set inicial
El valor 1 aparece en el set inicial
El valor 10 aparece en el set inicial
El valor 8 aparece en el set inicial
El valor 5 aparece en el set inicial